
main{
    width: 60%;
    height: 600px;
    border: 2px solid black;
    border-radius: 8px;
    
}


#index{
    margin-left: 12%;
}


nav li{
    margin-left: 8%;
    float: none;
}

li h4{
    color: black;
    font-size: 2.5vw;
    margin-top: -1%;
    padding-top: 5%;
}

svg{
    width: 80%;
    height: 500px;
    margin-top: 5%;

}

a{
    height: 100%;
}

a:hover{   
   padding-top: 6%;    
   height: 60px;
    
}

#collapsing a:hover{
    margin-bottom: 0;
    padding: 0;
    padding-left: 14%;
}

.button-collapse{
    padding-top: 0;
}

.button-collapse:hover{
   color: black;
   padding-top: 0;
}

nav{
    border-top: 2px solid black;
    border-bottom:2px solid black;  
}