
#NavBar{
    width: 100%;
    margin: 0 0 0 23%;

}

nav ul{
    width: 90%;
    margin: 0;
    height: 100px;
    
}

nav li{
    margin-left: 2%;
    
}

h4{
    color: black;
}

a{
    height: 100%;
    padding-top: 2%;
}

a:hover{
    height: 100%;
    padding-top: 6%;
    margin-bottom: -6%;
    
}

#collapsing a:hover{
    margin-bottom: 0;
    padding: 0;
    padding-left: 14%;


}

.button-collapse{
    padding-top: 0;
}

.button-collapse:hover{
   color: black;
   padding-top: 0;
}


nav{
    margin-bottom: 20px;
    border-top: 2px solid black;
    border-bottom:2px solid black;
}